AMO_DOMAIN='ИМЯПОЛЬЗОВТАЕЛЯ.amocrm.ru' -- домен в АМО
AMO_TOKEN='токер приложения интеграции в АМО МАРКЕТ'
AMO_COMMENT_FROM_ID = "123456" -- айди того, от чьего имени бот публикует заметку к сделке

PBX_DOMAIN = 'ИМЯ ПОЛЬЗОВАТЕЛЯ.onpbx.ru' -- домен в телефонии
PBX_AUTH_KEY='код авторизации телефонии'

SBER_AUTH_CODE='авторизационный код из аккаунта СберСпич'
SBER_CLIENT_SECRET='Секретный код клиента из аккаунта СберСпич'
SBER_SCOPE='SALUTE_SPEECH_PERS' -- тип аккаунта, может быть персональным или бизнес-аккаунтом

GIGACHAT_AUTH_DATA='авторизационный код из аккаунта ГигаЧат'
GIGACHAT_CLIENT_SECRET='Секретный код клиента в Гигачате'
GIGACHAT_SCOPE='GIGACHAT_API_PERS' -- тип аккаунта (личный или бизнес)
G_ID='индивидуальный айди аккаунта клиента'