@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name = "viewport" content = "width=device-width">
    <link rel = "stylesheet" href = "css/Authorization.css">
    <title>Авторизация</title>
</head>

<body class = "zero_margin">
<div class = "Layer">
    <div class = "auth_background zero_margin">
        <p class = "company base">Take Fusion</p>
        <p class = "company_title base">Начни прямо сейчас</p>
        <p class = "company_description base">Выполни простые действия для начала работы</p>
        <div class = "steps-container">
            <div class = "step first-step">
                <div class = "counter-steps first-steps-color"></div>
                <p class = "first-descript-color step-margin">Зарегистрируйся</p>
            </div>
            <div class = "step">
                <div class = "counter-steps base_steps-color"></div>
                <p class = "step-descript step-margin">Выбери телефонию</p>
            </div>
            <div class = "step">
                <div class = "counter-steps base_steps-color"></div>
                <p class = "step-descript step-margin">Введи уникальный токен и начинай</p>
            </div>
        </div>
    </div>
    <div class = "auth_model zero_margin">
        <div class = "auth_model-container">
            <p class = "auth-title">Регистрация аккаунта</p>
            <div class = "auth-label">
                <p class ="auth-p">Логин</p>
                <div class = "auth-form"></div>
            </div>
            <div class = "auth-label">
                <p class ="auth-p">Email</p>
                <div class = "auth-form"></div>
            </div>
            <div class = "auth-label">
                <p class ="auth-p">Пароль</p>
                <div class = "auth-form"></div>
            </div>
            
            <a class = "register-button" href="#">
                Регистрация
            </a>
        </div>
    </div>
</div>
</body>
</html>